<div class="tache-form-container">
  <form [formGroup]="tacheForm" (ngSubmit)="onSubmit()">
    <h2 class="form-title">Créer une Tâche</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Titre</mat-label>
      <input matInput formControlName="titre" placeholder="Entrez le titre de la tâche" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="Entrez la description"></textarea>
    </mat-form-field>
    <!-- Date de début -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Date de début</mat-label>
        <input matInput [matDatepicker]="dp1" formControlName="dateDebut" />
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Heure de début</mat-label>
        <input matInput [ngxMatTimepicker]="tp1" formControlName="heureDebut" />
        <ngx-mat-timepicker #tp1></ngx-mat-timepicker>
      </mat-form-field>
    </div>
  
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Date de fin</mat-label>
        <input matInput [matDatepicker]="dp2" formControlName="dateFin" />
        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Heure de fin</mat-label>
        <input matInput [ngxMatTimepicker]="tp2" formControlName="heureFin" />
        <ngx-mat-timepicker #tp2></ngx-mat-timepicker>
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Assignation des stagiaires</mat-label>
      <mat-select formControlName="stagiairesIds" name="stagiairesIds" multiple required>
        <mat-option *ngFor="let stagiaire of stagiaires" [value]="stagiaire.id">
          {{ stagiaire.username }} 
        </mat-option>
      </mat-select>
    </mat-form-field>
    
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Statut</mat-label>
      <mat-select formControlName="statut">
        <mat-option *ngFor="let s of statuts" [value]="s">{{ s }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" class="submit-btn" [disabled]="tacheForm.invalid">
      <mat-icon>add_task</mat-icon>
      Créer la tâche
    </button>
  </form>
</div>
